body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #ffbf80;
  height: 5rem;
}

.header_title {
  /*padding-left: 20px;*/
  display: inline-block;
  padding: 0 20px 0 20px;
  color: #ff661a;
}

.dashboard {
  margin-top: 1px;
}

.setting {
  width: 350px;
  margin: 0 auto;
  font-size: 18px;
}

.button {
  display: inline-block;
  position: absolute;
  right: 2rem;
}

.btn {
  height: 80px;
  padding: 30px;
  border: none;
}

.add {
  background-color: #ff6666
}

.random {
  background-color: #00b33c
}

.reset {
  background-color: #3385ff
}

.modal {
  border: solid #999999 1px;
  position: absolute;
  width: 800px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  border-radius: 4px;
  outline: none;
  background-color: #c2c2d6;
}

.random_check_modal {
  border: solid 1px #999999;
  position: absolute;
  width: 800px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  border-radius: 4px;
  outline: none;
  z-index: 1000;
  background-color: #c2c2d6;
}

.modal_warning_text {
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
}

h2 {
  margin-bottom: 0;
}

.modal_content  {
  position: absolute;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
}

input[type=text] {
  width: 13rem;
  height: 35px;
  font-size: 13px;
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 30px;
  margin-right: 0;
}

input[type=number] {
  width: 13rem;
  height: 35px;
  font-size: 13px;
  /*margin-top: 0px;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px;
  margin-right: 0;
  display: inline-block;
}

input[type=submit] {
  padding: 14px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #53c68c;
  color: white;
}

.submit_dashboard {
  width: 500px;
  padding: 14px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #53c68c;
  color: black;
}

input[type=submit]:hover {
  background-color: #339966;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*z-index: 0;*/
  /*background-color: #262626;*/
  /*opacity: 0.8;*/
}

.personList {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.person {
  position: relative;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 100%;
  user-select: none;
  overflow: hidden;
}

.spinner {
  position: absolute;
  width: 100px;
  margin: 0 auto;
  top: 200px;
  left: 50%;
  /*top: 200px;*/
  /*left: 0;
  right: 0;*/
}

.remove_btn {
  width: 20px;
  height: 20px;
  opacity: 0;
  position: fixed;
  float: right;
  /*background-color: green;*/
  border-radius: 100%;
  outline: none;
  display: inline-block;
  border: 0;
  position: relative;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.group {
  width: 98%;
  /*border: solid #999999 1px;*/
  /*border-radius: 4px;*/
  display: inline;

}

.person_area:hover .remove_btn {
  background-color: #ff6666;
  opacity: 1;
}

.matchList {
  margin-top: 50px;
}

.match {
  border: solid 1px green;
}
